<!DOCTYPE HTML>
<html>
<head>
    <title> Transactions </title>
    <style>
        h3{
            text-align: center;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
<h3> Transactions </h3>

<div class="row">
    <table>
        <thead>
        <tr>
            <th>Operation Number</th>
            <th>Balance</th>
            <th>Order Id</th>
            <th>Product Name</th>
            <th>Order Quantity</th>
            <th>Seller Name</th>
            <th>Operation Date</th>
        </tr>
        </thead>
                <tr>
            <td>gmwjgsap</td>
            <td>24.900002</td>
            <td>1</td>
            <td>Patates</td>
            <td>3</td>
            <td>Fatih</td>
            <td>2023-03-31 14:52:37.528675 +0300 +03</td>
        </tr>
                <tr>
            <td>gatlmody</td>
            <td>39.6</td>
            <td>2</td>
            <td>Domates</td>
            <td>3</td>
            <td>Fatih</td>
            <td>2023-03-31 14:52:37.539296 +0300 +03</td>
        </tr>
        
    </table>

</div>

<div class="back">
    <a href="/">
        &#8617;
    </a>
</div>
</body>
</html>